@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  display: flex;
  height: 100vh;
  /*padding: 0 5px;*/
  flex-direction: column;
  /* background: url(../img/1.jpg) no-repeat; */
  background-size: cover;
}

button {
  background-color: #00000000;
  color: white;
  user-select: none;
}

ul,
dl {
  list-style: none
}

button {
  border: 0;
}

.title {
  background-color: #42445A;
  color: white;
  font-size: 18px;
}

.absulute-to-right {
  position: absolute;
  right: 0;
  top: 0;

}

/* 底边栏
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*/

.inputArea {
  /* height: 13vh; */
  background-color: #42445A;
  color: white;
  position: sticky;
  padding: 5px 5px;
  bottom: 0;
}

.inputArea .submit {
  height: 100%;
  aspect-ratio: 1/1;
  margin-left: auto;
  padding: 9px;
  background-color: #eddfa4;
  color: white;
  border: 0;
  font-size: 16px;
  margin-left: auto;
  border-radius: 50%;
  transition: all .1s;
}

.inputArea .submit.submit-action {
  background-color: #f1c500;
}

.toolbar {
  width: calc(100% - 10px);
  height: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -25px;
  color: white;
}

.toolbar button {
  font-size: 14px;
  border: black .5px solid;
  border-radius: 5px;
  background-color: #42445acd;
  color: white;
  padding: 1px 7px;
}

.toolbar .left {
  position: absolute;
  left: 0;
}

.toolbar .add-chat {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.toolbar .to-bottom {
  position: absolute;
  right: 0;
}


.inputBox {
  display: flex;
  position: sticky;
  /* height: 30px;*/
  margin: 5px 0;
  border: #42445A solid 1.5px;
  border-radius: 5px;
  /* box-shadow: 0px 3px 8px 1px #00000099; */
  bottom: 0;
}

.inputBox .input {
  min-height: 32px;
  max-height: 7em;
  height: 32px;
  padding: calc(16px - 1em / 2) 0 0 10px;
  flex: 1;
  font-size: 16px;
  resize: none;
  border: 0;
  border-radius: 5px;

}

.inputBox .input::-webkit-scrollbar {
  display: none;
}

.inputBox .input:focus {
  outline: none;
}


.quick-reply-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}

.quick-reply-box .quick-reply-panel-btn {
  height: 32px;
  width: 32px;
  /* background-color: #42445A; */
  color: white;
  font-size: 20px;
  margin-left: auto;
}

.quick-reply-box .quick-reply-panel-btn[data-active="true"] {
  transform: rotate(45deg);
  transition: all .3s;
}

.quick-reply-box .quick-reply-panel-btn[data-active="false"] {
  transform: rotate(0deg);
  transition: all .3s;
}

/* 输入面板 */

.inputPanel .panels[data-visible="true"] {
  max-height: 500px;
  overflow: auto;
  transition: all .3s;
}

.inputPanel .panels[data-visible="false"] {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

.quick-reply-panel .quick-reply-list .quick-reply-item {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.497);
}

.quick-reply-panel .quick-reply-list .quick-reply-item:hover {
  background-color: #00000070;
}

.quick-reply-prev,
.quick-reply-next {
  width: 30px;
  height: 100%;
  text-align: center;
}



/* 聊天列表 
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*/

.list {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px 5px 5px 5px;
  padding: 20px 0 30px 0;
}

.list>li {
  max-width: fit-content;
  width: auto;

  margin-bottom: 5px;
  margin: 30px 10px;
  padding: 5px 10px;

  background: #42445AEE;
  color: white;
  border-bottom: 1px solid black;
  border-radius: 10px;

  transition: all .5s;
}

.list .message-content * {
  /* pointer-events: none; */
  user-select: none;
}

.list div a,
.list div img,
.list div button,
.list div code,
.list div pre,
.list .cot-placeholder {
  pointer-events: auto;
}

.list .cot-placeholder .cot-block {
  border-radius: 5px;
}

.list li:active {
  box-shadow: inset 0 3px 6px #000000CC, 0 1px 2px #000000C7;
}

.list li:hover {
  padding-bottom: 20px;
}

.list>li>p {
  color: #42445A;
}

.list>li>div p {
  margin: 5px 0;
}

.list li div hr {
  border-color: red;
  margin: 10px
}

.list li div pre {
  overflow-x: scroll;
  position: relative;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 5px 0;
}

.list table {
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 5px 0;
}

.list th,
.list td {
  border-top: .5px solid white;
  border-left: .5px solid white;
  padding: 5px;
  font-size: 14px;
}

.list th:last-child,
.list td:last-child {
  border-right: .5px solid white;
}

.list tr:last-child td {
  border-bottom: .5px solid white;
}

.list li div h1,
.list li div h2,
.list li div h3,
.list li div h4,
.list li div h5,
.list li div h6,
.list li div b,
.list li div strong {
  color: #E9C000;
}

.list li div ol,
.list li div ul,
.list li div dl {
  line-height: 1.3;
  margin: 5px 0;
  padding-left: 1.3em;
  font-size: 14px;
}

.list .typing::after {
  content: "|";
  animation: blink 1s infinite;
}

.list .user {
  width: 80%;
  margin-left: auto;
  margin-right: 0;
  background: #F5F5F5EE;
  color: black;
}



@keyframes blink {
  50% {
    opacity: 0;
  }
}

/*导航栏-可折叠思维链*/

.list .cot-placeholder .cot-block .cot-title::before {
  font-family: "iconfont";
  font-size: 16px;
  color: #E9C000;
  margin-right: 5px;
  float: right;
}


.list .cot-placeholder[data-collapse="true"] .cot-block .cot-title::before {
  content: "\e65a";
  transition: all .2s;

}

.list .cot-placeholder[data-collapse="false"] .cot-block .cot-title::before {
  content: "\e65a";
  transform: rotate(90deg);
  transition: all .2s;
}

.list .cot-placeholder[data-collapse="true"] .cot-block .cot-content {
  max-height: 5000px;
  /* 设为足够大即可 */
  overflow: auto;
  transition: all .5s ease-in-out;
}

.list .cot-placeholder[data-collapse="false"] .cot-block .cot-content {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.list .cot-block {
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.459);
  border: black 1px solid;
}


/* 导航栏 
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*/

.nav {
  position: sticky;
  background-color: #42445A;
  color: white;
  white-space: nowrap;
  top: 0;
  z-index: 1;
  height: 2.5em;
  display: block;
  position: relative;
  /* 关键：为绝对定位子元素提供参照 */
}

.nav button {
  border-radius: 5px;
  padding: 3px;
  background-color: inherit;
  color: inherit;
  border: 0;
  font: inherit;
}

.navBtn {
  height: 2.5em;
  line-height: 2.5em;
  aspect-ratio: 1/1;
  text-align: center;
}

.nav .setBtn {
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
}

/*侧边栏*/
.navSidebar {
  width: 50vw;
  max-width: 250px;
  max-height: 80vh;
  padding: 5px;
  position: absolute;
  background-color: #42445A;
  font-size: 14px;
  text-align: left;
  line-height: 2;
  visibility: hidden;
  opacity: 0;
  border-radius: 0 0 10px 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: all .3s;
}

.nav .setBtn:hover .navSidebar {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

.nav .setBtn .setBtnList {
  background-color: #343546;
  margin-bottom: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}

.nav .setBtn .setBtnList button::after {
  content: "\e65b";
  font-family: "iconfont";
  float: right;
}

.nav .setBtn .setBtnList button::before {
  font-family: "iconfont";
  float: left;
  margin: 0 5px;
}

.nav .setBtn .setBtnList button[data-action="add-prompt"]::before {
  content: "\e7c4";
}

.nav .setBtn .setBtnList button[data-action="set-prompt"]::before {
  content: "\e65d";
}

.nav .setBtn .setBtnList button[data-action="clear-chat"]::before {
  content: "\e6cc";
}

.nav .setBtn .setBtnList button[data-action="export-chat"]::before {
  content: "\e7ea";
}

.nav .setBtn .setBtnList button[data-action="delete-chat"]::before {
  content: "\e7ea";
}

.nav .setBtn .setBtnList button[data-action="edit-config"]::before {
  content: "\e65d";
}

.nav .setBtn .setBtnList button[data-action="set-ApiKey"]::before {
  content: "\e65d";
}

/*下载和上传聊天*/
.nav .setBtn .setBtnList button[data-action="downChat"]::before {
  content: "\e641";
}

.nav .setBtn .setBtnList button[data-action="upChat"]::before {
  content: "\e640";
}

.nav .setBtn:hover {
  background-color: #00000020;
}


.nav .setBtn .setBtnList li,
.nav .setBtn .setBtnList dd {
  padding: 3px 5px;

}

.nav .setBtn .setBtnList li:hover,
.nav .setBtn .setBtnList dd:hover {
  background-color: #00000020;
}

.nav .setBtn .setBtnList button {
  width: 100%;
  text-align: left;
}

.nav .navChatName {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.toggleBtn {
  position: absolute;
  right: 0;
  top: 0;
}

/* 上下文菜单 
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*-------------------------------------------------------------------------------------
*/
.ContextMenu {
  position: absolute;
  margin: auto;
  padding: 15px 5px;
  border-radius: 10px;
  background-color: #42445A;
  color: white;
  margin: 0;
}

.ContextMenu ul li {
  padding: 4px 10px;
  cursor: pointer;
  transition: all .3s;
}

.ContextMenu ul li:hover {
  background-color: #00000020;
}

/* 聊天记录列表 废弃 */
.chatList {
  width: 75%;
}

.chatList p {
  text-align: center;
  margin-bottom: 10px;
  transition: all .3s;
}

.chatList p:active {
  background-color: #00000050;
}

.chatList ul {
  margin: 5px auto;
}

.chatList ul li {
  padding: 5px 0;
  transition: all .3s;
}

.chatList ul li:active {
  background-color: #00000050;

}